.map {
    width: 40%;
    height: 30rem;
}

.address {
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
}

.subtitle {
    margin: 1.6rem 0 0.4rem 0;
    font-weight: 300;
    font-size: 1.2rem;
}
