.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.image {
    width: 10rem;
    height: 8rem;
    position: relative;
}

.image:hover::after {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    content: "more info";
    cursor: pointer;
}

.image:hover img {
    filter: brightness(0.65);
    cursor: pointer;
}

.image img {
    border-radius: 5px;
    transition: 0.2s;
}

.name {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0.2rem 0 0.3rem 0;
}

.name:hover {
    cursor: pointer;
}

.price {
    font-weight: 700;
}
